doctype html
html(lang='en')
  head
    include partials/head
    include partials/head_custom
  body
    .container
      hr
      #download
    include partials/footer
    script(src='app/common.js')
    script(src='app/download.js')
